.grid figure {
	position: relative;
	overflow: hidden;
	margin: 0.7rem;
	height: 400;
}
.grid figure img {
	min-height: 100%;
}
figure:hover img {
	opacity: 0.7;
}
.grid figure figcaption {
	font-size: 1.75rem;
	position: absolute;
	width: 100%;
}
figure figcaption {
	bottom: 0;
	height: 5em;
	background: #f0f0f0;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}
figure:hover figcaption{
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}