body {background-color:#f6f6f6;}

p{
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 20px;
	color: #8f8f8f;
}

li{
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

img.desaturate{
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

.half {
    -moz-transform:scale(0.4);
    -webkit-transform:scale(0.4);
    transform:scale(0.4);
}

.header{
	display: block;
	width: 85%;
	text-align: center;
	border-bottom: 1px solid #ececec;
	position:static;
	margin-left: auto ;
  	margin-right: auto ;
}

.menu{
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 20px;
	color: #cfcfcf;
	position: static;
	display: block;
}

ul.lista_menu{
	display: inline;
	list-style:none;
}

.titulo{
	position: static;
	display: block;
	margin-top: -45px;
	margin-bottom: 2px;
}

h1.titulo_principal{
	font-family: "Bebas Book", "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 100px;
	color: #3f3f3f;
}

.center{
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
	width: 100%;
	text-align: center;
	position:static;
	margin-left: auto ;
  	margin-right: auto ;
}

.channel{
	padding-right: 20px;
	padding-left: 20px;
}

.movies{
	position: static;
	display: block;
	text-align: center;
	margin-left: auto ;
  	margin-right: auto ;
  	display: inline-block;
}

.rodape{
	text-align: center;
	width: 85%;
	display: block;
	border-top: 1px solid #ececec;
	position:static;
	margin-left: auto ;
  	margin-right: auto ;
}

.copyright{
	float: center;
}

.icons{
	margin-top: 20px;
	text-align: center;
	position: static;
	float:center;
}