<!-- Begin Find Way-->
<section style="min-height: 20px;">
    <div class="content-wrapper text-left">
      <div style="margin-left: 30px">
        <p>Os acadêmicos dos cursos de Ciência da Computação e de Sistemas de Informação da FURB já estão automaticamente inscritos no evento.</p>
        <p>Demais interessados devem entrar em contato com a Secretaria do Departamento de Sistemas e Computação, através do telefone 3321-0947 ou pelo e-mail dsc@furb.br .</p>
        <p style="font-weight: bold">Os alunos que participarem do evento, conferido pelas listas de presença, têm direito a horas de AACC.</p>
      </div>
    </div>
</section>
<!-- End Find Way -->